@import "../../styles/Variables.scss";

.collapse-container {
    outline: 2px solid pink;
}

.chevron {
    transition: transform 0.5s ease;
  }

.chevron-rotated {
        transform: rotate(-180deg);
    }