@import "../../styles/Variables.scss";

.collapse-container {
    border: 2px dotted blue;
    display: flex;
    flex-direction: column;
    height: 100%;

    .collapse-title {
        display: flex;
        justify-content: space-between;
        background: $redColor;
        color: $whiteColor;
        font-weight: 700;
        border-radius: 5px;
        padding: 10px;
        // position: relative;
        .about-collapse {
            font-size: 1.5rem;
        }
        .listing-title-collapse{
            font-size: 1.125rem;
        }
        img {
            cursor: pointer;
        }
        .chevron {
            cursor: pointer;
            transition: transform 0.5s ease;
        }
        .chevron-rotated {
            transform: rotate(-180deg);
        }
    }

    .collapse-item {
        transform-origin: center top ;
        height: 100%;
        // background: $beigeColor;
        background: aqua;
        padding: 10px;
        border-radius: 0 0 5px 5px;
    }

    .dropdown-open {
        animation: open 0.3s ease-in-out forwards;
    }

    .dropdown-close{
        animation: close 0.3s ease-in-out forwards;
    }

    @keyframes open{
        0%{
            transform: scaleY(0);
            max-height: 0px;
        }
        100%{
            transform: scaleY(1);
            max-height: 300px;
        }
    }
    
    @keyframes close{
        0% {
            transform: scaleY(1);
            max-height: 300px;
        }
        100%{
            transform: scaleY(0);
            max-height: 0px;
        }
    }


    @media (max-width: $breakpoint-mobile) {
        .collapse-title {
            .about-collapse {
                font-size: 0.8125rem;
            }
            .listing-title-collapse {
                font-size: 0.8125rem;
            }
        }
        .collapse-item {
            font-size: 0.8125rem
        }

    }

}



//TEST


// .collapse-container {
//   border-radius: 5px;
//   display: flex;
//   flex-direction: column;
//   justify-content: flex-start;
//   width: 100%; // Assure que le conteneur prend la largeur disponible

//   .collapse-title {
//       border-radius: 5px;
//       font-size: 1.5rem;
//       background: $redColor;
//       padding: 5px 15px;
//       display: flex;
//       justify-content: space-between;
//       align-items: center;
//       color: $whiteColor;
//       font-weight: 700;
//       line-height: 34.22px;

//       position: relative; // Pour gérer la position des éléments enfants
//   }

//   .chevron {
//       cursor: pointer;
//       transition: transform 0.5s ease;
//   }

//   .chevron-rotated {
//       transform: rotate(-180deg);
//   }

//   .collapse-content {
//       display: flex;
//       flex-direction: column;
//       overflow: hidden; // Cache le contenu excédentaire
//       max-height: 0; // Hauteur initiale pour cacher le contenu
//       opacity: 0; // Initialement invisible
//       transform: scaleY(0); // Réduit verticalement
//       transform-origin: top; // Origine de la transformation depuis le haut
//       transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
//       width: 100%; // Assure que le contenu occupe toute la largeur disponible

//       p {
        
//           background: aqua;
//           padding: 20px; // Padding pour le contenu visible
//           margin: 0;
//           font-size: 1.125rem;
//           border-radius: 0 0 25px 25px;
//       }
//   }

//   .collapse-content.visible {
//       max-height: 500px; // Ajuste cette valeur selon le contenu ou utiliser une autre méthode
//       opacity: 1;
//       transform: scaleY(1); // Pleine échelle
//   }
// }



//ANCIEN QUI MARCHE ::after@import "../../styles/Variables.scss";

// .collapse-container {
//     border-radius: 5px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     align-items: stretch;
//     height: 100%;

//     .collapse-title {
//       border-radius: 5px;
//       font-size: 1.5rem;
//       background: $redColor;
//       padding: 5px 15px;
//       @include flex(row);
//       justify-content: space-between;
//       align-items: center;
//       color: $whiteColor;
//       font-weight: 700;
//       line-height: 34.22px;
//     }

//     .chevron {
//       transition: transform 0.5s ease;
//     }
  
//     .chevron-rotated {
//           transform: rotate(-180deg);
//       }

//       .collapse-content {
//         display: flex;
//         flex-direction: column;
//         flex-grow: 1;
        
//         p {
//           background: orange;
//           padding: 20px;
//           margin: 0;
//           font-size: 1.125rem;
//           flex-grow: 1;
//           border-radius: 0 0 25px 25px ;
//         }
//       }

//       .visible {
//         opacity: 1;
//         // color: blue;
//         // background: pink;
//       }
// }
// ^^^^^^


// BYE ?
// .collapse-container {
//     border-radius: 5px;
//     @include flex(row);
//     flex-direction: column;
//     justify-content: flex-start;
//     height: 100%;

//     .collapse-title {
//       border-radius: 5px;
//       font-size: 1.5rem;
//       background: $redColor;
//       padding: 5px 15px;
//       @include flex(row);
//       justify-content: space-between;
//       align-items: center;
//       color: $whiteColor;
//       font-weight: 700;
//       line-height: 34.22px;
//     }

//     .chevron {
//       transition: transform 0.5s ease;
//       cursor: pointer;
//     }
  
//     .chevron-rotated {
//           transform: rotate(-180deg);
//       }

//       .collapse-content {
//         @include flex(column);
//         flex-grow: 1;

        
//         p {
//           background: $beigeColor;
//           padding: 20px;
//           margin: 0;
//           font-size: 1.125rem;
//           flex-grow: 1;
//           border-radius: 0 0 25px 25px ;
//         }
//       }

//       .visible {
//       }
// }


