@import "../../styles/Variables.scss";

.collapse-container {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;

    .collapse-title {
      border-radius: 5px;
      font-size: 1.5rem;
      background: $redColor;
      padding: 5px 15px;
      @include flex(row, space-between, center);
      color: $whiteColor;
      font-weight: 700;
      line-height: 34.22px;
    }

    .chevron {
      transition: transform 0.5s ease;
    }
  
    .chevron-rotated {
          transform: rotate(-180deg);
      }

      .collapse-content {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        
        p {
          background: orange;
          padding: 20px;
          margin: 0;
          font-size: 1.125rem;
          flex-grow: 1;
          border-radius: 0 0 25px 25px ;
        }
      }

      .visible {
        opacity: 1;
        // color: blue;
        // background: pink;
      }
}


