<div class="menu-btn">
    <div class="menu-btn_burger">titre ?</div>
</div>
<div class="burger-items">
    <div>content ? Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt veritatis, odio a totam adipisci molestias nisi cumque amet officia sunt aspernatur. Laudantium incidunt, nostrum enim pariatur quisquam necessitatibus ipsum dolor vitae quaerat molestias accusantium et numquam nisi commodi laborum iusto praesentium asperiores maxime expedita itaque! Quasi autem voluptatem cumque placeat!</div>
</div>