@import '../../styles/variables';


.listings-container {
    @include flex(row);
    justify-content: center;
    margin: 56px 50px;

    .listings-wrapper {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 340px;
        grid-gap: 60px;

        .listing-item {
            width: 100%;
            height: 100%;
            max-width: 340px;
            position: relative;
            @include flex(row);

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 10px;
            }

            .listing-text {
                border-radius: 0 0 10px 10px;
                margin: 0;
                text-decoration: none;
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 10px;
                background: rgba(0, 0, 0, 0.5);
                color: $whiteColor;
                overflow: hidden;
                box-sizing: border-box;
                height: 80px;
                @include flex(row);
                align-items: center;
                font-size: 1.125rem;
            }
        }
    }

    @media (max-width: $breakpoint-medium) {
        .listings-wrapper {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 340px;
            grid-gap: 20px;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        margin: 0;
        .listings-wrapper {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 255px;
            grid-gap: 20px;

        }
    }


}