@import '../../styles/variables';

.containerGeant {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid blue;
    max-width: 1240px;
}

.imgContainer {
    max-height: 415px;
    max-width: 1240px;
    border: 2px solid red;
    overflow: hidden;

        img {
            width: 100%;
            height: auto;
            max-height: 100%;
            object-fit: cover;
        }
}

.infoContainer {
    display: flex;
    border: 2px solid red;

}

.infologement{
    border: 2px solid green;
    width: 50%;
}

.infoAgent{
    border: 2px solid greenyellow;
    width: 50%;
}

.accordionLogement {
    display: flex;
    border: 2px solid red;

}

.descriptionLogement{
    border: 2px solid pink;
    width: 50%;
}

.equipementLogement{
    border: 2px solid purple;
    width: 50%;
}