@import '../../styles/variables';


.listings-container {
    outline: 2px dotted blue;
    display: flex;
    justify-content: center;
    margin: 56px 50px;

    .listings-wrapper {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 340px;
        grid-gap: 60px;

        .listing-item {
            width: 100%;
            height: 100%;
            max-width: 340px;
            position: relative;
            display: flex;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border: 2px solid red;
                border-radius: 10px;
            }

            .listing-text {
                border-radius: 0 0 10px 10px;
                margin: 0;
                border: 2px solid red;
                text-decoration: none;
                position: absolute;
                bottom: 0;
                width: 100%;
                padding: 10px;
                background: rgba(0, 0, 0, 0.5); /* Fond semi-transparent pour améliorer la lisibilité */
                color: white;
                overflow: hidden;
                box-sizing: border-box;
                height: 80px;
                display: flex;
                align-items: center;
                font-size: 1.125rem;
                                    
                // OU ALORS ? (on devrait pouvoir enlever la hauteur fixe comme ça)
                // white-space: nowrap; 
                // overflow: hidden;
                // text-overflow: ellipsis;
            }
        }
    }

    @media (max-width: $breakpoint-medium) {
        .listings-wrapper {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-auto-rows: 340px;
            grid-gap: 20px;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        background-color: blue;
        margin: 0;
        .listings-wrapper {
            margin: 0;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-auto-rows: 255px;
            grid-gap: 20px;

        }
    }


}