@import '../../styles/variables';

.listing-container {
    border: 12px dotted blue;
    width: 100%;


    .listing-picture {
        border: 5px solid pink;
        margin-bottom: 20px;
        width: 100%;
    }

    .listing-content {
        border: 5px solid pink;
        margin-bottom: 20px;
        display: flex;
        width: 100%;

        .listing-info {
            border: 2px solid blue;
            width: 50%;
        }

        .listing-realtor {
            border: 2px solid blue;
            width: 50%;
        }
    }

    .listing-collapse {
        width: 100%;
        display: flex;

        .listing-description {
            width: 50%;
        }

        .listing-equipment {
            width: 50%;
        }
    }
}