@import '../../../styles/variables';

.home-banner {
    border: 2px solid green;
    height: 223px;
    width: 100%;
    position: relative;
    text-align: center;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .home-banner-text {
        display: flex;
        text-wrap: nowrap;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.5rem;
        font-weight: 700;
        color: white;
        text-shadow: -1px -1px 0 $blackColor,
                    1px -1px 0 $blackColor,
                    -1px 1px 0 $blackColor,
                    1px 1px 0 $blackColor
    }
}
