@import '../../styles/variables';

.header-container {
    // outline: 2px solid purple;
    // max-width: 1240px;
    width: 100%;
    // margin: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: normal;

    .logo {
        // border: 2px dotted blue;
    }

    .nav {
        // border: 2px dotted blue;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        gap: 57px;
    }
    
    @media(max-width: $breakpoint-mobile) {
        .logo {
            // border: 2px solid blue;
            width: 145px;
            height: 46px;
            width: 44%;
        }
        .nav {
            // border: 2px solid red;
            gap: 26px;
            
            a {
            // border: 2px solid green;
            text-transform: uppercase;
            font-size: 0.75rem;
            font-weight: 500;
            width: 56%;
            white-space: nowrap;
            }
        }
    }
}
