// Font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
$fontFamily: 'Montserrat', sans-serif;

// Color
$redColor: #FF6060;
$blackColor: #000000;
$whiteColor: #FFFFFF;
$beigeColor: #F6F6F6;

// Breakpoint 
$breakpoint-mobile: 375px;
$breakpoint-medium: 768px;
$breakpoint-xl: 1440px;

