@import '../styles/variables';

.about-container {
    width: 100%;
    @include flex(column, space-around, normal);
    gap: 20px;
    // border: 20px solid green;


    .banner-section{
        height: 223px;
        width: 100%;
        outline: 5px solid pink;
    }

    .about-section{
        border: 2px solid blue;
        ul {
            padding-left: 10%;
            padding-right: 10%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: normal;
            gap: 30px;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .banner-section {
            height: 111px;
        }

        .about-section {
            ul {
            width: 100%;
            padding: 0;
            }
        }

    }
}