@import './variables'; 

* {
    box-sizing: border-box;
  }

body {
    font-family: $fontFamily; 
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.App {
    @include flex(column, center, center);
    gap: 50px;
    min-height: 100vh; 
    background-color: plum;

    header {
        width: 100%;
        margin: 45px 100px 0 100px;
        @include flex(row, center, center);
    }
    main {
        display: flex;
        width: 100%;
        max-width: 1240px;
        border: 2px solid orange;
        flex: 1;
        margin: 0px 100px;
    }

    footer {
        width: 100%;
        @include flex(row, center, center);
    }
    
    @media (max-width: $breakpoint-mobile) {
        .App {
            margin: 20px;
        }
        
        main{
            color: blue; // Couleur des liens en mobile
            margin: 20px;
        }
    }
}

