@import '../../../styles/variables';

.slider-container {
  width: 100%;
  height: 415px;
  position: relative;
}

.slider-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.nav-icon{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 20%;
  cursor: pointer;
  z-index: 2;
}

.prev-icon {
  left: 20px;
}

.next-icon {
  right: 20px;
}

.annotation {
  position: absolute;
  bottom: 8%;
  left: 50%;
  transform: translateX(50%);
  color: $whiteColor;
  font-size: 1.125rem;
}

@media (max-width: $breakpoint-mobile) {
  .slider-container {
    height: 255px;
  }
  }