@import '../../styles/variables';

.home-container {
    // outline: 12px dotted red;
    width: 100%;
    @include flex(column, flex-start, normal);
    gap: 20px;

    .banner-section{
        height: 223px;
        width: 100%;
        // outline: 5px solid pink;
    }

    .listings-section{
        // border: 5px solid pink;
        background: $beigeColor;
        border-radius: 25px;
    }

    @media (max-width: $breakpoint-mobile) {
        .banner-section {
            height: 111px;
        }

    }
}



