@import '../../styles/variables';

.banner {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
    }

    .banner-text{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: 700;
        color: white;
        text-shadow: -1px -1px 0 $blackColor,
                    1px -1px 0 $blackColor,
                    -1px 1px 0 $blackColor,
                    1px 1px 0 $blackColor;
    }

    @media (max-width: $breakpoint-mobile) {

        .banner-text{
            font-size: 1.5rem;
            padding-left: 16px;
        }
    }
}
