@import '../../styles/variables';

.banner {
    width: 100%;
    height: 100%;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 25px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .banner-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        border-radius: 25px;
        pointer-events: none;
    }

    .banner-text{
        width: 100%;
        display: flex;
        justify-content: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        font-weight: 700;
        color: white;
        text-shadow: -1px -1px 0 $blackColor,
                    1px -1px 0 $blackColor,
                    -1px 1px 0 $blackColor,
                    1px 1px 0 $blackColor;
    }

    @media (max-width: $breakpoint-medium) {
        .banner-text{
            font-size: 1.8rem;
            padding-left: 16px;
        }
    }

    @media (max-width: $breakpoint-mobile) {
        .banner-text{
            font-size: 1.5rem;
            padding-left: 16px;
            white-space: pre-wrap;
            display: block;
        }
    }


}
