@import '../../../styles/Variables';

.nav-container {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;

    a {
        padding-left: 30px;

        @media (max-width: $breakpoint-mobile){
            text-transform: uppercase;
            font-size: 0.75rem;
        }
    }
}